#grid-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border-style: solid;
    border-width: 2px;
    width: 25px;
    height: 25px;
}

.row {
    display: inline-block;
}