.container-main {
    display: block;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.resize {
    width: 250px;
    border-radius: 6px;
    padding: 10px;
    background-color: lightblue;
}

.grid-frame{
    display: grid;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: thin solid;
}

.etchASketch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.grid {
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: small;
    height: 30px;
    width: 30px;
}

.hoverOn {
    background-color: black;
}
